.card {
  width: 100%;
  max-width: 30rem;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card1 {
  width: 100%;
  max-width: 50rem;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.submitBtnContainer {
  display: flex;
  justify-content: center;
}

.loginTableContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo {
  max-width: 200px;
}